<?xml version="1.0"?>
<!--
/**
  * Loewenstark_Seo
  *
  * @category  Loewenstark
  * @package   Loewenstark_Seo
  * @author    Mathis Klooss <m.klooss@loewenstark.com>
  * @copyright 2013 Loewenstark Web-Solution GmbH (http://www.mage-profis.de/). All rights served.
  * @license   https://github.com/mklooss/Loewenstark_Seo/blob/master/README.md
  */
-->
<config>
    <modules>
        <Loewenstark_Seo>
            <version>1.0.4.0</version>
        </Loewenstark_Seo>
    </modules>
    <frontend>
        <routers>
            <loewenstark_seo>
                <use>standard</use>
                <args>
                    <module>Loewenstark_Seo</module>
                    <frontName>robots.txt</frontName>
                </args>
            </loewenstark_seo>
        </routers>
        <layout>
            <updates>
                <loewenstark_seo>
                    <file>loewenstark/seo.xml</file>
                </loewenstark_seo>
            </updates>
        </layout>
        <translate>
            <modules>
                <Loewenstark_Seo>
                    <files>
                        <default>Loewenstark_Seo.csv</default>
                    </files>
                </Loewenstark_Seo>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch>
                <observers>
                    <redirectifsecure>
                        <class>loewenstark_seo/observer</class>
                        <method>checkNonSecureUrl</method>
                    </redirectifsecure>
                </observers>
            </controller_action_predispatch>
            <controller_action_layout_render_before_cms_page_view>
                <observers>
                    <loewenstark_seo_cms_page_render>
                        <type>singleton</type>
                        <class>loewenstark_seo/observer</class>
                        <method>addRobotsTagToCmsPage</method>
                    </loewenstark_seo_cms_page_render>
                </observers>
            </controller_action_layout_render_before_cms_page_view>
            <controller_action_layout_render_before>
                <observers>
                    <loewenstark_seo_cms_page_render>
                        <type>singleton</type>
                        <class>loewenstark_seo/observer</class>
                        <method>addRobotsTagToIndexPage</method>
                    </loewenstark_seo_cms_page_render>
                    <loewenstark_seo_redirect_if_disabled>
                        <class>loewenstark_seo/observer</class>
                        <method>redirectIfDisabled</method>
                    </loewenstark_seo_redirect_if_disabled>
                </observers>
            </controller_action_layout_render_before>
            <controller_action_layout_render_before_contacts_index_index>
                <observers>
                    <loewenstark_seo_contacts_index_index>
                        <type>singleton</type>
                        <class>loewenstark_seo/observer</class>
                        <method>addRobotsTagToContacts</method>
                    </loewenstark_seo_contacts_index_index>
                </observers>
            </controller_action_layout_render_before_contacts_index_index>
            <controller_action_layout_render_before>
                <observers>
                    <loewenstark_seo_customer_account>
                        <type>singleton</type>
                        <class>loewenstark_seo/observer</class>
                        <method>addRobotsTagToCustomerAccount</method>
                    </loewenstark_seo_customer_account>
                </observers>
            </controller_action_layout_render_before>
            <controller_action_layout_render_before_checkout_cart_index>
                <observers>
                    <loewenstark_seo_contacts_index_index>
                        <type>singleton</type>
                        <class>loewenstark_seo/observer</class>
                        <method>addRobotsTagToCheckoutCart</method>
                    </loewenstark_seo_contacts_index_index>
                </observers>
            </controller_action_layout_render_before_checkout_cart_index>
            <controller_action_layout_render_before_catalog_seo_sitemap_category>
                <observers>
                    <loewenstark_seo_contacts_index_index>
                        <type>singleton</type>
                        <class>loewenstark_seo/observer</class>
                        <method>addRobotsTagToSitemap</method>
                    </loewenstark_seo_contacts_index_index>
                </observers>
            </controller_action_layout_render_before_catalog_seo_sitemap_category>
            <controller_action_layout_render_before_catalogsearch_result_index>
                <observers>
                    <loewenstark_seo_contacts_index_index>
                        <class>loewenstark_seo/observer</class>
                        <method>addRobotsTagToCatalogsearch</method>
                    </loewenstark_seo_contacts_index_index>
                </observers>
            </controller_action_layout_render_before_catalogsearch_result_index>
            <controller_action_layout_render_before_catalog_product_view>
                <observers>
                    <loewenstark_seo_contacts_index_index>
                        <type>singleton</type>
                        <class>loewenstark_seo/observer</class>
                        <method>addRobotsTagToCatalogProduct</method>
                    </loewenstark_seo_contacts_index_index>
                    <loewenstark_seo_add_phrase_to_meta_description>
                        <type>singleton</type>
                        <class>loewenstark_seo/observer</class>
                        <method>addPhraseToMetaProduct</method>
                    </loewenstark_seo_add_phrase_to_meta_description>
                </observers>
            </controller_action_layout_render_before_catalog_product_view>
            <controller_action_layout_render_before_catalog_category_view>
                <observers>
                    <loewenstark_seo_contacts_index_index>
                        <type>singleton</type>
                        <class>loewenstark_seo/observer</class>
                        <method>addRobotsTagToCatalogCategory</method>
                    </loewenstark_seo_contacts_index_index>
                    <loewenstark_seo_add_phrase_to_meta_description>
                        <type>singleton</type>
                        <class>loewenstark_seo/observer</class>
                        <method>addPhraseToMetaCategory</method>
                    </loewenstark_seo_add_phrase_to_meta_description>
                </observers>
            </controller_action_layout_render_before_catalog_category_view>
        </events>
    </frontend>
    <global>
        <helpers>
            <loewenstark_seo>
                <class>Loewenstark_Seo_Helper</class>
            </loewenstark_seo>
        </helpers>
        <models>
            <loewenstark_seo>
                <class>Loewenstark_Seo_Model</class>
            </loewenstark_seo>
            <adminhtml>
                <rewrite>
                    <system_config_source_design_robots>Loewenstark_Seo_Model_System_Config_Source_Design_Robots</system_config_source_design_robots>
                </rewrite>
            </adminhtml>
        </models>
        <resources>
            <loewenstarkseo_setup>
                <setup>
                    <module>Loewenstark_Seo</module>
                    <class>Loewenstark_Seo_Model_Resource_Setup</class>
                </setup>
            </loewenstarkseo_setup>
        </resources>
        <helpers>
            <loewenstark_seo>
                <class>Loewenstark_Seo_Helper</class>
            </loewenstark_seo>
        </helpers>
        <blocks>
            <loewenstark_seo>
                <class>Loewenstark_Seo_Block</class>
            </loewenstark_seo>
        </blocks>
        <events>
            <adminhtml_cms_page_edit_tab_meta_prepare_form>
                <observers>
                    <loewenstark_seo_catalog_product_get_final_price>
                        <type>singleton</type>
                        <class>loewenstark_seo/observer</class>
                        <method>addFieldsToCmsMetaTagForm</method>
                    </loewenstark_seo_catalog_product_get_final_price>
                </observers>
            </adminhtml_cms_page_edit_tab_meta_prepare_form>
            <admin_system_config_section_save_after>
                <observers>
                    <loewenstark_seo_config_section_save_after>
                        <type>singleton</type>
                        <class>loewenstark_seo/observer</class>
                        <method>createSeoTextAttributes</method>
                    </loewenstark_seo_config_section_save_after>
                </observers>
            </admin_system_config_section_save_after>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Loewenstark_Seo>
                    <files>
                        <default>Loewenstark_Seo.csv</default>
                    </files>
                </Loewenstark_Seo>
            </modules>
        </translate>
    </adminhtml>
    <robots>
        <index_follow>INDEX,FOLLOW</index_follow>
        <noindex_follow>NOINDEX,FOLLOW</noindex_follow>
        <index_nofollow>INDEX,NOFOLLOW</index_nofollow>
        <noindex_nofollow>NOINDEX,NOFOLLOW</noindex_nofollow>
    </robots>
    <default>
        <contacts>
            <contacts>
                <robots>INDEX,FOLLOW</robots>
                <breadcrumb>1</breadcrumb>
            </contacts>
        </contacts>
        <catalog>
            <sitemap>
                <robots>NOINDEX,FOLLOW</robots>
            </sitemap>
            <search>
                <robots>NOINDEX,FOLLOW</robots>
            </search>
            <seo>
                <category_canonical_tag>1</category_canonical_tag>
                <meta_title_length>55</meta_title_length>
                <product_canonical_tag>1</product_canonical_tag>
                <phrases_enabled>1</phrases_enabled>
                <robotstxt><![CDATA[User-Agent: *
Sitemap: {{store direct_url="sitemap.xml"}}
User-agent: *
Disallow: /index.php/
Disallow: /*?
Disallow: /*.js$
Disallow: /*.css$
Disallow: /*.php$
Disallow: /admin/
Disallow: /app/
Disallow: /catalog/
Disallow: /catalogsearch/
Disallow: /checkout/
Disallow: /customer/
Disallow: /downloader/
Disallow: /js/
Disallow: /lib/
Disallow: /media/
Disallow: /newsletter/
Disallow: /pkginfo/
Disallow: /report/
Disallow: /review/
Disallow: /skin/
Disallow: /var/
Disallow: /wishlist/
Allow: /media/catalog/
Allow: /media/wysiwyg/]]></robotstxt>
            </seo>
        </catalog>
        <customer>
            <loewenstark_seo>
                <robots>NOINDEX,FOLLOW</robots>
            </loewenstark_seo>
        </customer>
        <checkout>
            <cart>
                <robots>NOINDEX,FOLLOW</robots>
            </cart>
        </checkout>
    </default>
</config>
