<?xml version="1.0"?>
<!--
/**
  * Loewenstark_Seo
  *
  * @category  Loewenstark
  * @package   Loewenstark_Seo
  * @author    Mathis Klooss <m.klooss@loewenstark.com>
  * @copyright 2013 Loewenstark Web-Solution GmbH (http://www.mage-profis.de/). All rights served.
  * @license   https://github.com/mklooss/Loewenstark_Seo/blob/master/README.md
  */
-->
<config>
    <modules>
        <Loewenstark_Seo>
            <version>1.0.0.0</version>
        </Loewenstark_Seo>
    </modules>
    <frontend>
        <layout>
            <updates>
                <loeseo>
                    <file>loewenstark/seo.xml</file>
                </loeseo>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <loeseo>
                <class>Loewenstark_Seo_Helper</class>
            </loeseo>
        </helpers>
        <models>
            <loeseo>
                <class>Loewenstark_Seo_Model</class>
            </loeseo>
            <adminhtml>
                <rewrite>
                    <system_config_source_design_robots>Loewenstark_Seo_Model_System_Config_Source_Design_Robots</system_config_source_design_robots>
                </rewrite>
            </adminhtml>
        </models>
        <resources>
            <loeseo_setup>
                <setup>
                    <module>Loewenstark_Seo</module>
                    <class>Loewenstark_Seo_Model_Resource_Setup</class>
                </setup>
            </loeseo_setup>
        </resources>
        <helpers>
            <loeseo>
                <class>Loewenstark_Seo_Helper</class>
            </loeseo>
        </helpers>
        <events>
            <adminhtml_cms_page_edit_tab_meta_prepare_form>
                <observers>
                    <loeseo_catalog_product_get_final_price>
                        <type>singleton</type>
                        <class>loeseo/observer</class>
                        <method>addFieldsToCmsMetaTagForm</method>
                    </loeseo_catalog_product_get_final_price>
                </observers>
            </adminhtml_cms_page_edit_tab_meta_prepare_form>
            <controller_action_layout_render_before_cms_page_view>
                <observers>
                    <loeseo_cms_page_render>
                        <type>singleton</type>
                        <class>loeseo/observer</class>
                        <method>addRobotsTagToCmsPage</method>
                    </loeseo_cms_page_render>
                </observers>
            </controller_action_layout_render_before_cms_page_view>
            <controller_action_layout_render_before>
                <observers>
                    <loeseo_cms_page_render>
                        <type>singleton</type>
                        <class>loeseo/observer</class>
                        <method>addRobotsTagToIndexPage</method>
                    </loeseo_cms_page_render>
                </observers>
            </controller_action_layout_render_before>
            <controller_action_layout_render_before_contacts_index_index>
                <observers>
                    <loeseo_contacts_index_index>
                        <type>singleton</type>
                        <class>loeseo/observer</class>
                        <method>addRobotsTagToContacts</method>
                    </loeseo_contacts_index_index>
                </observers>
            </controller_action_layout_render_before_contacts_index_index>
            <controller_action_layout_render_before>
                <observers>
                    <loeseo_customer_account>
                        <type>singleton</type>
                        <class>loeseo/observer</class>
                        <method>addRobotsTagToCustomerAccount</method>
                    </loeseo_customer_account>
                </observers>
            </controller_action_layout_render_before>
            <controller_action_layout_render_before_checkout_cart_index>
                <observers>
                    <loeseo_contacts_index_index>
                        <type>singleton</type>
                        <class>loeseo/observer</class>
                        <method>addRobotsTagToCheckoutCart</method>
                    </loeseo_contacts_index_index>
                </observers>
            </controller_action_layout_render_before_checkout_cart_index>
            <controller_action_layout_render_before_catalog_seo_sitemap_category>
                <observers>
                    <loeseo_contacts_index_index>
                        <type>singleton</type>
                        <class>loeseo/observer</class>
                        <method>addRobotsTagToSitemap</method>
                    </loeseo_contacts_index_index>
                </observers>
            </controller_action_layout_render_before_catalog_seo_sitemap_category>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Loewenstark_Seo>
                    <files>
                        <default>Loewenstark_Seo.csv</default>
                    </files>
                </Loewenstark_Seo>
            </modules>
        </translate>
    </adminhtml>
    <robots>
        <index_follow>INDEX,FOLLOW</index_follow>
        <noindex_follow>NOINDEX,FOLLOW</noindex_follow>
        <index_nofollow>INDEX,NOFOLLOW</index_nofollow>
        <noindex_nofollow>NOINDEX,NOFOLLOW</noindex_nofollow>
    </robots>
    <default>
        <contacts>
            <contacts>
                <robots>INDEX,FOLLOW</robots>
                <breadcrumb>1</breadcrumb>
            </contacts>
        </contacts>
        <catalog>
            <sitemap>
                <robots>NOINDEX,FOLLOW</robots>
            </sitemap>
        </catalog>
        <customer>
            <loeseo>
                <robots>NOINDEX,FOLLOW</robots>
            </loeseo>
        </customer>
        <checkout>
            <cart>
                <robots>NOINDEX,FOLLOW</robots>
            </cart>
        </checkout>
    </default>
</config>