<?xml version="1.0"?>
<config>
    <sections>
        <contacts>
            <groups>
                <contacts>
                    <fields>
                        <robots translate="label" module="loewenstark_seo">
                            <label>Robots Tag</label>
                            <frontend_type>select</frontend_type>
                            <source_model>loewenstark_seo/system_config_source_cms_robots</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </robots>
                        <breadcrumb translate="label" module="loewenstark_seo">
                            <label>Add Breadcrumb</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </breadcrumb>
                    </fields>
                </contacts>
            </groups>
        </contacts>
        <catalog>
            <groups>
                <seo>
                    <fields>
                        <category_canonical_tag translate="label">
                            <label>Use Canonical Link Meta Tag For Categories</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </category_canonical_tag>
                        <category_canonical_tag_seo translate="label" module="catalog">
                            <label>Use Canonical Link Meta Tag For Categories</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </category_canonical_tag_seo>
                        <redirect_if_disabled translate="label comment" module="loewenstark_seo">
                            <label>Redirect if disabled</label>
                            <comment>When a category or a product is disabled redirect to former parent category.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>loewenstark_seo/system_config_source_redirect</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </redirect_if_disabled>
                        <redirect_blacklist_category_ids translate="label comment" module="loewenstark_seo">
                            <label>Blacklist Category IDs</label>
                            <comment>When checking for a redirect ignore these category ids (comma-separated).</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </redirect_blacklist_category_ids>
                        <meta_title_length translate="label comment" module="loewenstark_seo">
                            <label>Meta title max length</label>
                            <comment>Truncate meta titles of categories and products that are longer than this value.</comment>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </meta_title_length>
                        <disabled_phrases translate="label" module="catalog">
                            <label>Disable Phrases</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>190</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </disabled_phrases>
                        <category_meta_title_phrases translate="label comments" module="loewenstark_seo">
                            <label>Default Category Meta Titles</label>
                            <comment><![CDATA[When category has no meta title, use one of these phrases instead. One phrase per line. Use {{category_name}} as placeholder for the category name.]]></comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>210</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><disabled_phrases>0</disabled_phrases></depends>
                        </category_meta_title_phrases>
                        <category_meta_description_phrases translate="label comments" module="loewenstark_seo">
                            <label>Default Category Meta Descriptions</label>
                            <comment><![CDATA[When category has no meta description, use one of these phrases instead. One phrase per line. Use {{category_name}} as placeholder for the category name.]]></comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>220</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><disabled_phrases>0</disabled_phrases></depends>
                        </category_meta_description_phrases>
                        <product_meta_title_phrases translate="label comments" module="loewenstark_seo">
                            <label>Default Product Meta Titles</label>
                            <comment><![CDATA[When product has no meta title, use one of these phrases instead. One phrase per line. Use {{product_name}} as placeholder for the product name.]]></comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>230</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><disabled_phrases>0</disabled_phrases></depends>
                        </product_meta_title_phrases>
                        <product_meta_description_phrases translate="label comments" module="loewenstark_seo">
                            <label>Default Product Meta Descriptions</label>
                            <comment><![CDATA[When product has no meta description, use one of these phrases instead. One phrase per line. Use {{product_name}} as placeholder for the product name.]]></comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>240</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><disabled_phrases>0</disabled_phrases></depends>
                        </product_meta_description_phrases>
                        <robotstxt translate="label comment" module="loewenstark_seo">
                            <label>robots.txt</label>
                            <comment><![CDATA[This content is rendered when http://domain.com/robots.txt is accessed. Magento short-codes, e.g. <strong>{{store direct_url=""}}</strong>, are available.]]></comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>180</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </robotstxt>
                    </fields>
                </seo>
                <sitemap>
                    <fields>
                        <robots translate="label" module="loewenstark_seo">
                            <label>Robots Tag</label>
                            <frontend_type>select</frontend_type>
                            <source_model>loewenstark_seo/system_config_source_cms_robots</source_model>
                            <sort_order>99</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </robots>
                    </fields>
                </sitemap>
            </groups>
        </catalog>
        <customer>
            <groups>
                <loewenstark_seo translate="label">
                    <label>Search Engine Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>99</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <robots translate="label" module="loewenstark_seo">
                            <label>Robots Tag for Customer Area</label>
                            <frontend_type>select</frontend_type>
                            <source_model>loewenstark_seo/system_config_source_cms_robots</source_model>
                            <sort_order>99</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </robots>
                    </fields>
                </loewenstark_seo>
            </groups>
        </customer>
        <checkout>
            <groups>
                <cart>
                    <fields>
                        <robots translate="label" module="loewenstark_seo">
                            <label>Robots Tag for Customer Area</label>
                            <frontend_type>select</frontend_type>
                            <source_model>loewenstark_seo/system_config_source_cms_robots</source_model>
                            <sort_order>99</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </robots>
                    </fields>
                </cart>
            </groups>
        </checkout>
    </sections>
</config>
